*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header {
    display: flex;
    padding: 35px 69px 35px 35px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #EAEAEA;
    align-items: center;
    margin-bottom: 45px;

    .compony_logo {
        display: flex;

        .logo {
            width: 40px;
            height: 40px;
            margin-right: 16px;
        }
    
        .compony_name {
            font-family: 'Inter', sans-serif;
            
            h1 {
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: row;
        gap: 30px;

        & > li {
            list-style: none;
        }

        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}